@font-face {
    font-family: 'Marvin';
    src: local('Marvin'), url('ofont.ru_Marvin.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('Montserrat-Medium.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 800;
}

@mixin space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p, h2 {
    color: #58362f;
}

.container {
    max-width: 1200px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

header {
    background-color: #52D9D1;
    @include center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header {
    @include space-between;
}

.name {
    width: 220px;
    text-decoration: none;
    @include space-between;
    p {
        font-family: "Marvin";
        font-weight: 400;
        color: white;
        font-size: 24px;
        margin: 0;
    }
}

.nav-link {
    @include center;
    padding: 20px;
    color: white;
    font-size: 20px;
}
.nav-link:hover {
    background-color: rgb(58, 180, 180);
    color: white;
}

main {
    @include center;
    flex-direction: column;
    background-color: #FFDB7E;
    padding-bottom: 50px;
}

.slider-container {
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    width: 96%;
    max-width: 1200px;
}

.button {
    background-color: #52D9D1;
    padding: 15px 30px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-left: 7%;
}

.btn-login {
    margin: 0;
    padding: 10px 30px;
}

.button:hover {
    background-color: rgb(58, 180, 180);
}

.cover {
    border-radius: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 100%;
    object-fit: cover;
    padding: 0;
    p {
        font-family: "Marvin";
        font-weight: 400;
        color: white;
        font-size: 62px;
        width: 600px;
        margin: 0px 0px 60px 7%;
    }
}

.cheese-cover {
    background: url(img/Group\ 1.png);
    background-size: 1200px;
    background-position-y: -30px;
    p {
        margin: 0px 0px 20px 7%;
    }
    .st {
        font-size: 30px;
    }
}

.coffee-cover {
    background: url(img/Group\ 2.png);
    background-size: 1200px;
    background-position-y: -30px;
}

.pizza-cover {
    background: url(img/Group\ 18.png);
    background-size: 1200px;
    p {
        margin: 0px 0px 20px 7%;
    }
    .st {
        font-size: 30px;
        width: 90%;
    }
}

.covers {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    margin-top: 70px;
}

.slide {
    width: 98%;
    max-width: 1400px;
    @include space-between;
    position: absolute;
    top: 300px;
}

.prev-button,
.next-button {
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: rgb(150, 150, 150);
  background-color: rgb(255, 255, 255);
}

h1 {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 40px;
    margin: 20px 0px;
}

.menu {
    padding: 5px 30px;
    background-color: white;
    border: 3px solid #B67465;
    border-radius: 10px;
    color: #B67465;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.catalog {
    padding-top: 80px;
}

.button-active {
    background-color: #B67465;
    color: white;
}

.catalog-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
}

.catalog-item {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 0px 10px 20px 10px;
    max-width: 360px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    display: none;
    .product {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-top: 10px;
    }
    p {
        font-family: "Montserrat";
        font-weight: 800;
        font-size: 24px;
        margin: 10px 0px;
    }
    .desc {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
    }
    .price-box {
        display: flex;
        flex-direction: row;
        .old-price {
            color: rgb(145, 145, 145);
            margin-left: 10px;
            background: url(img/old-price.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: -10px;
        }
    }
}

.basket-btn {
    font-size: 20px;
    padding: 10px 30px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.popular {
    display: flex;
}

footer {
    background-color: #52D9D1;
    padding: 20px 0px;
    p {
        color: white;
        font-size: 20px;
        margin: 0;
        img {
            margin-right: 20px;
            width: 30px;
        }
    }
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.site-main {
    margin: 100px 0px;
}

.nav li {
    @include center;
    img {
        margin-right: 10px;
    }
    .basket-img {
        width: 35px;
    }
    form {
        display: flex;
        flex-direction: row;
    }
}

.poductsinbasket {
    position: absolute;
    margin-right: 70px;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0px 6px;
    background-color: red;
    border-radius: 50px;
}

.counter {
    @include center;
    width: 30px;
    height: 30px;
    background-color: #52D9D1;
    color: rgb(255, 255, 255);
    margin-right: 5px;
    border: none;
}

.c {
    @include space-between;
}

.notavailable {
    display: none;
}

@media screen and (max-width: 800px) {
    .cover {
        p {
            font-family: "Marvin";
            font-weight: 400;
            color: white;
            font-size: 48px;
            width: 80%;
            margin: 0px 0px 20px 7%;
        }
        .st {
            font-size: 24px;
        }
    }
        
    .prev-button,
    .next-button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .cover {
        p {
            font-family: "Marvin";
            font-size: 40px;
            width: 90%;
            margin: 0px 0px 20px 7%;
        }
        .st {
            font-size: 20px;
        }
        .button {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 400px) {
    .cover {
        p {
            font-family: "Marvin";
            font-weight: 400;
            color: white;
            font-size: 32px;
            width: 80%;
            margin: 0px 0px 20px 10%;
        }
        .st {
            font-size: 18px;
        }
        .button {
            font-size: 16px;
            padding: 7px 12px;
        }
    }
    .coffee-cover {
        background-position-x: -300px;
    }
}